<%- include("partials/header"); -%>
<h3>
    <marquee behavior="alternate" direction="left">welcome to student feedback system</marquee></h3>

<h1 id="face">STUDNET FEEDBACK SYSTEM</h1>






<%- include("partials/footer"); -%>
